#main_container
 {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     background-color: rgb(204, 204, 204);
     display: flex;
     flex-direction: column;
 }


 #middle_section
 {
     background-color: rgb(165, 164, 164);
     margin-left: 1em;
     margin-right: 1em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
 }

 #top_section
 {
     background-color: rgb(216, 216, 216);
     justify-content: space-evenly;
     margin-left: 1em;
     margin-right: 1em;
     margin-top: 2em;
     margin-bottom: 1em;
     
 }

 form
 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .inputs
 {
    display: flex;
    flex-direction: column;
 }

 input
 {
    width: 4em; 
 }

 #main_section
 {
     background-color: lightseagreen;
     margin-left: 0.5em;
     margin-right: 0.5em;
     padding-top: 0.7em;
     padding-bottom: 0.5em;
 }

 #table_render_space
 {
     background-color: bisque;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 1em;
    overflow: auto;
 }


 #table_html_space
 {
     background-color: orangered;
     display: flex;
     justify-content: center;
     margin-bottom: 0.5em;
     margin-top: 1em;
     margin-left: 0.5em;
     margin-right: 0.5em;
 }

 textarea
 {
     max-width: 95%;
     margin-top: 1em;
     margin-bottom: 1em;
 }


 header
 {
     background-color: blue;
     text-align: center;
     color: white;
     margin-top: 2em;
     margin-left: 1em;
     margin-right: 1em;

 }

 footer
 {
    background-color: blue;
    text-align: center;
    color: white;
    margin-bottom: 1em;
    margin-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
 }

 textarea
 {
     min-width: 95%;
     min-height: 20em;
 }